body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Indie+Flower&display=swap',cursive;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

hr{
	border-color: grey;
	border-width: 3px;
	max-width: 50px;
}

h1{
	color: grey;
}

.btn{
	font-weight: 300;
	border-radius: 200px;
	size: height: 200px; width: 200px;
	text-transform: uppercase;
}

.btn-secondary:hover{
		border-width: 4px;
}

.buffer{
	height: 15rem;
}
